<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247512243312-vf4i2rf0obpjjf6j3e5dm1r5o9qo17ho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247512243312-vf4i2rf0obpjjf6j3e5dm1r5o9qo17ho</string>
	<key>API_KEY</key>
	<string>AIzaSyBV9nJQ8ltVEn38yy1wWRk8TgIhx5i_vs4</string>
	<key>GCM_SENDER_ID</key>
	<string>247512243312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.localAuthEx</string>
	<key>PROJECT_ID</key>
	<string>e-id-32da5</string>
	<key>STORAGE_BUCKET</key>
	<string>e-id-32da5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247512243312:ios:2bb64ab4cded162dae68b5</string>
</dict>
</plist>